.footer-outer-container {
  background-color: #111;
  color: gray;
  padding: 80px 30px;
  display: flex;
  justify-content: center;
}

.footer-inner-container {
  /* max-width: 1400px; */
  margin: o auto;


  width: 60%;
}

.footer-icons {
  width: 60%;
  display: dflex;
  justify-content: space-between;
  gap: 40px;
  font-size: medium;
  margin-bottom: 30px;
  color: #fff;
}

.footer-links-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-section li:hover {
  color: #e50914;
}
.service-code {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 10%;
  cursor: pointer;
  margin: 10px 0;
}

.copyright {
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
  color: #888;
}

